name: Package Testing

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.5, 3.6, 3.7]
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }} on ${{ matrix.os }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install package with testing dependencies
      run: |
        pip install -e .
        pip install pytest pytest-cov codecov wheel
    - name: Test with pytest
      run: |
        mkdir -p test-results
        pytest --junit-xml test-results/tests.xml --cov-report xml --cov=. tests/
    - name: 
      uses: actions/upload-artifact@master
      with:
        name: test-results
        path: test-results
